# CAP conarum-prediction
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# @cap-js/cds-typer
@cds-models

@cds-models
db/mock/areas.json
db/mock/CL.json
# db/mock/CLmatches.json
db/mock/CLstandings.json
db/mock/CLteams.json
db/mock/tournament.json
app/internal-sport/.env
db/mock/PLmatches.json
db/mock/PLstandings.json
db/mock/PLteams.json
